<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="Comcom" />
        <!--<add name="Comcom" type="Comcom_Module.ComcomModule, Comcom_Module_Pruebas, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b213f225be2a5f83, processorArchitecture=MSIL" />-->
      </modules>
      <cors enabled="true">
        <add origin="https://*.hacienda.gob.es" allowCredentials="true">
          <allowHeaders allowAllRequestedHeaders="true" />
          <allowMethods>
            <add method="DELETE" />
          </allowMethods>
        </add>
        <add origin="https://localhost*" allowCredentials="true">
          <allowHeaders allowAllRequestedHeaders="true" />
          <allowMethods>
            <add method="DELETE" />
          </allowMethods>
        </add>
        <add origin="http://localhost:4200" allowCredentials="true">
          <allowHeaders allowAllRequestedHeaders="true" />
          <allowMethods>
            <add method="DELETE" />
          </allowMethods>
        </add>
      </cors>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ModAuxNomina.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	   <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
  <appSettings>
	<add key="RutaComcomApi" value="https://devws.serviciosinternos.hacienda.gob.es/Comcom.Api.Services" />
    <add key="RutaComcomMiddleware" value="D:\inetpub\webContent\devapp.serviciosinternos.hacienda.gob.es\Comcom.Net.Middleware.Pruebas.dll" />
  </appSettings>
</configuration>
<!--ProjectGuid: 909A629C-68DE-4BD3-86B9-D7D5FBBA4681-->